ion-content{
  // height: 100%;
  --background: #283D6F;
  --padding-top: 40%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: url('../../../assets/img/login-background.jpg') ;
}

.errors{
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-group{
  background: #283D6F;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}
